.header {
   background-color: #77c0ee;
   padding: 10px;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   z-index: 2;
    &__list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      li {
         font-size: 25px
      }
      .header__avatar {
         background-color: #5f5fc4
      }
   }
   &__link {
      color: #000;
      text-decoration: none;
      line-height: 40px;
   }

   &__user {
      position: relative;

      .user-header__menu {
         display: none;
         position: absolute;
         right: 0;
      }
   }

   &__user:hover .user-header__menu {
      display: block;
   }

}

.user-header {
   &__image {
      width: 40px;
      height: 40px;
      border-radius: 50px
   }
   &__name {
      font-size: 20px;
   }
   &__email {
      font-size: 17px;
   }
}

.container {
   max-width: 1400px;
   margin: 0 auto;
}

